<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Zoomable treemap template</title>
    <style>
        html,
        body,
        #scatter {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #scatter>svg {
            display: block;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="css/scatter.css">    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/taucharts@2/dist/taucharts.min.css">    
    <script src="https://cdn.jsdelivr.net/npm/d3@4.13.0/build/d3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/taucharts@2/dist/taucharts.min.js" type="text/javascript"></script>
    
</head>
<body>
    <div id="scatter"></div>
    <script>
var jsnData = [
  {
    "trxCode": "VL02N",
    "trxCount": 7860,
    "guiTime": 1682447,
    "individualPercentage": 14.11,
    "cumlativeValue": 14.11,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "ZLABEL",
    "trxCount": 5448,
    "guiTime": 6179,
    "individualPercentage": 9.78,
    "cumlativeValue": 23.89,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "VA02",
    "trxCount": 5202,
    "guiTime": 1036747,
    "individualPercentage": 9.34,
    "cumlativeValue": 33.23,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "MFBF",
    "trxCount": 2539,
    "guiTime": 105566,
    "individualPercentage": 4.56,
    "cumlativeValue": 37.79,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "MIGO",
    "trxCount": 2433,
    "guiTime": 1155106,
    "individualPercentage": 4.37,
    "cumlativeValue": 42.16,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "VL10C",
    "trxCount": 1928,
    "guiTime": 35001,
    "individualPercentage": 3.46,
    "cumlativeValue": 45.62,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "LS24",
    "trxCount": 1833,
    "guiTime": 40839,
    "individualPercentage": 3.29,
    "cumlativeValue": 48.91,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "VF02",
    "trxCount": 1656,
    "guiTime": 183397,
    "individualPercentage": 2.97,
    "cumlativeValue": 51.88,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "ME23N",
    "trxCount": 1655,
    "guiTime": 1079519,
    "individualPercentage": 2.97,
    "cumlativeValue": 54.85,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "LT12",
    "trxCount": 1607,
    "guiTime": 2285,
    "individualPercentage": 2.88,
    "cumlativeValue": 57.73,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "VL10B",
    "trxCount": 1331,
    "guiTime": 150715,
    "individualPercentage": 2.39,
    "cumlativeValue": 60.12,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "FBL1N",
    "trxCount": 1268,
    "guiTime": 1033785,
    "individualPercentage": 2.28,
    "cumlativeValue": 62.4,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "VA03",
    "trxCount": 1128,
    "guiTime": 548376,
    "individualPercentage": 2.02,
    "cumlativeValue": 64.42,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "FB03",
    "trxCount": 956,
    "guiTime": 181765,
    "individualPercentage": 1.72,
    "cumlativeValue": 66.14,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "ME2N",
    "trxCount": 905,
    "guiTime": 60356,
    "individualPercentage": 1.62,
    "cumlativeValue": 67.76,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "VA05",
    "trxCount": 901,
    "guiTime": 1090652,
    "individualPercentage": 1.62,
    "cumlativeValue": 69.38,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "V_RA",
    "trxCount": 844,
    "guiTime": 6371,
    "individualPercentage": 1.52,
    "cumlativeValue": 70.9,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "ME21N",
    "trxCount": 838,
    "guiTime": 1035217,
    "individualPercentage": 1.5,
    "cumlativeValue": 72.4,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "MMBE",
    "trxCount": 833,
    "guiTime": 197017,
    "individualPercentage": 1.5,
    "cumlativeValue": 73.9,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "MIRO",
    "trxCount": 830,
    "guiTime": 310501,
    "individualPercentage": 1.49,
    "cumlativeValue": 75.39,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "LT03",
    "trxCount": 817,
    "guiTime": 2339,
    "individualPercentage": 1.47,
    "cumlativeValue": 76.86,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "MB51",
    "trxCount": 809,
    "guiTime": 274006,
    "individualPercentage": 1.45,
    "cumlativeValue": 78.31,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "VF04",
    "trxCount": 693,
    "guiTime": 90512,
    "individualPercentage": 1.24,
    "cumlativeValue": 79.55,
    "colorCode": "#C70039"
  },
  {
    "trxCode": "FB60",
    "trxCount": 607,
    "guiTime": 139146,
    "individualPercentage": 1.09,
    "cumlativeValue": 80.64,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "LT04",
    "trxCount": 543,
    "guiTime": 1632,
    "individualPercentage": 0.97,
    "cumlativeValue": 81.61,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "MIGO_GR",
    "trxCount": 490,
    "guiTime": 97770,
    "individualPercentage": 0.88,
    "cumlativeValue": 82.49,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "FAGLB03",
    "trxCount": 423,
    "guiTime": 342096,
    "individualPercentage": 0.76,
    "cumlativeValue": 83.25,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "LT10",
    "trxCount": 378,
    "guiTime": 13700,
    "individualPercentage": 0.68,
    "cumlativeValue": 83.93,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "MF50",
    "trxCount": 350,
    "guiTime": 41850,
    "individualPercentage": 0.63,
    "cumlativeValue": 84.56,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "LB10",
    "trxCount": 318,
    "guiTime": 3321,
    "individualPercentage": 0.57,
    "cumlativeValue": 85.13,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "ME22N",
    "trxCount": 283,
    "guiTime": 205184,
    "individualPercentage": 0.51,
    "cumlativeValue": 85.64,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "VF01",
    "trxCount": 269,
    "guiTime": 17784,
    "individualPercentage": 0.48,
    "cumlativeValue": 86.12,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "F-28",
    "trxCount": 260,
    "guiTime": 1295,
    "individualPercentage": 0.47,
    "cumlativeValue": 86.59,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "MB52",
    "trxCount": 259,
    "guiTime": 1359872,
    "individualPercentage": 0.46,
    "cumlativeValue": 87.05,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "LT01",
    "trxCount": 236,
    "guiTime": 1749,
    "individualPercentage": 0.42,
    "cumlativeValue": 87.47,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "F110",
    "trxCount": 232,
    "guiTime": 22670,
    "individualPercentage": 0.42,
    "cumlativeValue": 87.89,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "ME2O",
    "trxCount": 212,
    "guiTime": 2616,
    "individualPercentage": 0.38,
    "cumlativeValue": 88.27,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "ZLABELM",
    "trxCount": 212,
    "guiTime": 253032,
    "individualPercentage": 0.38,
    "cumlativeValue": 88.65,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "WE05",
    "trxCount": 208,
    "guiTime": 55667,
    "individualPercentage": 0.37,
    "cumlativeValue": 89.02,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "SQ01",
    "trxCount": 202,
    "guiTime": 679666,
    "individualPercentage": 0.36,
    "cumlativeValue": 89.38,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "ME2L",
    "trxCount": 186,
    "guiTime": 266217,
    "individualPercentage": 0.33,
    "cumlativeValue": 89.71,
    "colorCode": "#4B8C05"
  },
  {
    "trxCode": "VA01",
    "trxCount": 182,
    "guiTime": 88416,
    "individualPercentage": 0.33,
    "cumlativeValue": 90.04,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VL06O",
    "trxCount": 179,
    "guiTime": 282424,
    "individualPercentage": 0.32,
    "cumlativeValue": 90.36,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VKM1",
    "trxCount": 175,
    "guiTime": 4953,
    "individualPercentage": 0.31,
    "cumlativeValue": 90.67,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "F-32",
    "trxCount": 171,
    "guiTime": 1888,
    "individualPercentage": 0.31,
    "cumlativeValue": 90.98,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VL03N",
    "trxCount": 171,
    "guiTime": 25793,
    "individualPercentage": 0.31,
    "cumlativeValue": 91.29,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VF31",
    "trxCount": 170,
    "guiTime": 47288,
    "individualPercentage": 0.31,
    "cumlativeValue": 91.6,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VK12",
    "trxCount": 168,
    "guiTime": 1505,
    "individualPercentage": 0.3,
    "cumlativeValue": 91.9,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MB5B",
    "trxCount": 160,
    "guiTime": 26844,
    "individualPercentage": 0.29,
    "cumlativeValue": 92.19,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "SE16",
    "trxCount": 159,
    "guiTime": 115814,
    "individualPercentage": 0.29,
    "cumlativeValue": 92.48,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MI20",
    "trxCount": 153,
    "guiTime": 4307,
    "individualPercentage": 0.27,
    "cumlativeValue": 92.75,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MF41",
    "trxCount": 143,
    "guiTime": 83,
    "individualPercentage": 0.26,
    "cumlativeValue": 93.01,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VL09",
    "trxCount": 137,
    "guiTime": 16395,
    "individualPercentage": 0.25,
    "cumlativeValue": 93.26,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ME2M",
    "trxCount": 120,
    "guiTime": 120827,
    "individualPercentage": 0.22,
    "cumlativeValue": 93.48,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "S_ALR_87012218",
    "trxCount": 117,
    "guiTime": 11270,
    "individualPercentage": 0.21,
    "cumlativeValue": 93.69,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "IW32",
    "trxCount": 114,
    "guiTime": 29783,
    "individualPercentage": 0.2,
    "cumlativeValue": 93.89,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "S_ALR_87012173",
    "trxCount": 114,
    "guiTime": 166363,
    "individualPercentage": 0.2,
    "cumlativeValue": 94.09,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MB5T",
    "trxCount": 101,
    "guiTime": 1917,
    "individualPercentage": 0.18,
    "cumlativeValue": 94.27,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MM02",
    "trxCount": 93,
    "guiTime": 36956,
    "individualPercentage": 0.17,
    "cumlativeValue": 94.44,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LX03",
    "trxCount": 91,
    "guiTime": 77036,
    "individualPercentage": 0.16,
    "cumlativeValue": 94.6,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LT06",
    "trxCount": 90,
    "guiTime": 1566,
    "individualPercentage": 0.16,
    "cumlativeValue": 94.76,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "XD02",
    "trxCount": 89,
    "guiTime": 18062,
    "individualPercentage": 0.16,
    "cumlativeValue": 94.92,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FBZ0",
    "trxCount": 84,
    "guiTime": 79377,
    "individualPercentage": 0.15,
    "cumlativeValue": 95.07,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ME54N",
    "trxCount": 83,
    "guiTime": 163727,
    "individualPercentage": 0.15,
    "cumlativeValue": 95.22,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MI02",
    "trxCount": 79,
    "guiTime": 1268,
    "individualPercentage": 0.14,
    "cumlativeValue": 95.36,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ZFB50",
    "trxCount": 77,
    "guiTime": 808837,
    "individualPercentage": 0.14,
    "cumlativeValue": 95.5,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ME51N",
    "trxCount": 73,
    "guiTime": 474576,
    "individualPercentage": 0.13,
    "cumlativeValue": 95.63,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ZFB60",
    "trxCount": 73,
    "guiTime": 598722,
    "individualPercentage": 0.13,
    "cumlativeValue": 95.76,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "KSB1",
    "trxCount": 72,
    "guiTime": 154755,
    "individualPercentage": 0.13,
    "cumlativeValue": 95.89,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LI04",
    "trxCount": 70,
    "guiTime": 7581,
    "individualPercentage": 0.13,
    "cumlativeValue": 96.02,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FBL5N",
    "trxCount": 68,
    "guiTime": 49544,
    "individualPercentage": 0.12,
    "cumlativeValue": 96.14,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "SP01",
    "trxCount": 68,
    "guiTime": 17364,
    "individualPercentage": 0.12,
    "cumlativeValue": 96.26,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MI04",
    "trxCount": 66,
    "guiTime": 912,
    "individualPercentage": 0.12,
    "cumlativeValue": 96.38,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MI01",
    "trxCount": 64,
    "guiTime": 886,
    "individualPercentage": 0.11,
    "cumlativeValue": 96.49,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FB08",
    "trxCount": 61,
    "guiTime": 5045,
    "individualPercentage": 0.11,
    "cumlativeValue": 96.6,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LI20",
    "trxCount": 61,
    "guiTime": 979,
    "individualPercentage": 0.11,
    "cumlativeValue": 96.71,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FCHR",
    "trxCount": 59,
    "guiTime": 16462,
    "individualPercentage": 0.11,
    "cumlativeValue": 96.82,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "WE19",
    "trxCount": 59,
    "guiTime": 542,
    "individualPercentage": 0.11,
    "cumlativeValue": 96.93,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ZACTR",
    "trxCount": 59,
    "guiTime": 10720,
    "individualPercentage": 0.11,
    "cumlativeValue": 97.04,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LI01N",
    "trxCount": 58,
    "guiTime": 135,
    "individualPercentage": 0.1,
    "cumlativeValue": 97.14,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LI11N",
    "trxCount": 58,
    "guiTime": 128,
    "individualPercentage": 0.1,
    "cumlativeValue": 97.24,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "SU01",
    "trxCount": 56,
    "guiTime": 16317,
    "individualPercentage": 0.1,
    "cumlativeValue": 97.34,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "S_BCE_68001400",
    "trxCount": 54,
    "guiTime": 3159,
    "individualPercentage": 0.1,
    "cumlativeValue": 97.44,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ME53N",
    "trxCount": 53,
    "guiTime": 61521,
    "individualPercentage": 0.1,
    "cumlativeValue": 97.54,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MM01",
    "trxCount": 47,
    "guiTime": 7882,
    "individualPercentage": 0.08,
    "cumlativeValue": 97.62,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MD61",
    "trxCount": 45,
    "guiTime": 1220,
    "individualPercentage": 0.08,
    "cumlativeValue": 97.7,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "IW38",
    "trxCount": 42,
    "guiTime": 11636,
    "individualPercentage": 0.08,
    "cumlativeValue": 97.78,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VD52",
    "trxCount": 41,
    "guiTime": 0,
    "individualPercentage": 0.07,
    "cumlativeValue": 97.85,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MI21",
    "trxCount": 40,
    "guiTime": 5515,
    "individualPercentage": 0.07,
    "cumlativeValue": 97.92,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "S_ALR_87013611",
    "trxCount": 40,
    "guiTime": 754899,
    "individualPercentage": 0.07,
    "cumlativeValue": 97.99,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "PFCG",
    "trxCount": 36,
    "guiTime": 19485,
    "individualPercentage": 0.06,
    "cumlativeValue": 98.05,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MIR4",
    "trxCount": 33,
    "guiTime": 7897,
    "individualPercentage": 0.06,
    "cumlativeValue": 98.11,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LI21",
    "trxCount": 32,
    "guiTime": 2283,
    "individualPercentage": 0.06,
    "cumlativeValue": 98.17,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LT24",
    "trxCount": 29,
    "guiTime": 135,
    "individualPercentage": 0.05,
    "cumlativeValue": 98.22,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MI07",
    "trxCount": 27,
    "guiTime": 435,
    "individualPercentage": 0.05,
    "cumlativeValue": 98.27,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MSC2N",
    "trxCount": 26,
    "guiTime": 0,
    "individualPercentage": 0.05,
    "cumlativeValue": 98.32,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "F-44",
    "trxCount": 24,
    "guiTime": 0,
    "individualPercentage": 0.04,
    "cumlativeValue": 98.36,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FB50",
    "trxCount": 24,
    "guiTime": 8753,
    "individualPercentage": 0.04,
    "cumlativeValue": 98.4,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VV32",
    "trxCount": 24,
    "guiTime": 1473,
    "individualPercentage": 0.04,
    "cumlativeValue": 98.44,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "F.27",
    "trxCount": 23,
    "guiTime": 2061,
    "individualPercentage": 0.04,
    "cumlativeValue": 98.48,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "SM21",
    "trxCount": 23,
    "guiTime": 6718,
    "individualPercentage": 0.04,
    "cumlativeValue": 98.52,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LT05",
    "trxCount": 21,
    "guiTime": 0,
    "individualPercentage": 0.04,
    "cumlativeValue": 98.56,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MR8M",
    "trxCount": 21,
    "guiTime": 2673,
    "individualPercentage": 0.04,
    "cumlativeValue": 98.6,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "SP02",
    "trxCount": 21,
    "guiTime": 5491,
    "individualPercentage": 0.04,
    "cumlativeValue": 98.64,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ST22",
    "trxCount": 21,
    "guiTime": 39741,
    "individualPercentage": 0.04,
    "cumlativeValue": 98.68,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "CS03",
    "trxCount": 20,
    "guiTime": 0,
    "individualPercentage": 0.04,
    "cumlativeValue": 98.72,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "F-02",
    "trxCount": 19,
    "guiTime": 0,
    "individualPercentage": 0.03,
    "cumlativeValue": 98.75,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FB75",
    "trxCount": 19,
    "guiTime": 4443,
    "individualPercentage": 0.03,
    "cumlativeValue": 98.78,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FCH8",
    "trxCount": 19,
    "guiTime": 5988,
    "individualPercentage": 0.03,
    "cumlativeValue": 98.81,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "SUIM",
    "trxCount": 18,
    "guiTime": 1184,
    "individualPercentage": 0.03,
    "cumlativeValue": 98.84,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "BD87",
    "trxCount": 17,
    "guiTime": 91429,
    "individualPercentage": 0.03,
    "cumlativeValue": 98.87,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FBL2N",
    "trxCount": 16,
    "guiTime": 137670,
    "individualPercentage": 0.03,
    "cumlativeValue": 98.9,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ME5A",
    "trxCount": 16,
    "guiTime": 2291,
    "individualPercentage": 0.03,
    "cumlativeValue": 98.93,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ZCONCUR_INTERFACE",
    "trxCount": 16,
    "guiTime": 91609,
    "individualPercentage": 0.03,
    "cumlativeValue": 98.96,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "CK86",
    "trxCount": 15,
    "guiTime": 0,
    "individualPercentage": 0.03,
    "cumlativeValue": 98.99,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FCHN",
    "trxCount": 15,
    "guiTime": 22763,
    "individualPercentage": 0.03,
    "cumlativeValue": 99.02,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FK02",
    "trxCount": 15,
    "guiTime": 8883,
    "individualPercentage": 0.03,
    "cumlativeValue": 99.05,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "CS02",
    "trxCount": 13,
    "guiTime": 0,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.07,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FBRA",
    "trxCount": 13,
    "guiTime": 453,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.09,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FK03",
    "trxCount": 13,
    "guiTime": 6099,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.11,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MD01",
    "trxCount": 13,
    "guiTime": 451,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.13,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MM60",
    "trxCount": 13,
    "guiTime": 958,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.15,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "SM50",
    "trxCount": 13,
    "guiTime": 196197,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.17,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LX22",
    "trxCount": 11,
    "guiTime": 0,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.19,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ME2K",
    "trxCount": 11,
    "guiTime": 5600,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.21,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VF03",
    "trxCount": 11,
    "guiTime": 3186,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.23,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "CS01",
    "trxCount": 10,
    "guiTime": 0,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.25,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FB70",
    "trxCount": 10,
    "guiTime": 1649,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.27,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LS03N",
    "trxCount": 10,
    "guiTime": 0,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.29,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MB03",
    "trxCount": 10,
    "guiTime": 304,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.31,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VL01N",
    "trxCount": 10,
    "guiTime": 11167,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.33,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MI24",
    "trxCount": 9,
    "guiTime": 1663,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.35,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MR21",
    "trxCount": 9,
    "guiTime": 0,
    "individualPercentage": 0.02,
    "cumlativeValue": 99.37,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "CL20N",
    "trxCount": 8,
    "guiTime": 2867,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.38,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LS23",
    "trxCount": 8,
    "guiTime": 0,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.39,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LT21",
    "trxCount": 8,
    "guiTime": 225,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.4,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MBLB",
    "trxCount": 8,
    "guiTime": 315,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.41,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MM03",
    "trxCount": 8,
    "guiTime": 940,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.42,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VL10",
    "trxCount": 8,
    "guiTime": 0,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.43,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FK01",
    "trxCount": 7,
    "guiTime": 6832,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.44,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MB5M",
    "trxCount": 7,
    "guiTime": 64,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.45,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "STMS",
    "trxCount": 7,
    "guiTime": 641,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.46,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "S_ALR_87012284",
    "trxCount": 7,
    "guiTime": 1154,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.47,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VA14L",
    "trxCount": 7,
    "guiTime": 430,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.48,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VD02",
    "trxCount": 7,
    "guiTime": 1954,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.49,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VFX3",
    "trxCount": 7,
    "guiTime": 0,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.5,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "CS15",
    "trxCount": 6,
    "guiTime": 1716,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.51,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "KKF6N",
    "trxCount": 6,
    "guiTime": 2736,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.52,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LI02N",
    "trxCount": 6,
    "guiTime": 252,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.53,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LS02N",
    "trxCount": 6,
    "guiTime": 0,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.54,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ME52N",
    "trxCount": 6,
    "guiTime": 3561,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.55,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VD51",
    "trxCount": 6,
    "guiTime": 0,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.56,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "XD03",
    "trxCount": 6,
    "guiTime": 393,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.57,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "XK02",
    "trxCount": 6,
    "guiTime": 2234,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.58,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "CA21",
    "trxCount": 5,
    "guiTime": 3953,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.59,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "CL24N",
    "trxCount": 5,
    "guiTime": 2743,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.6,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "F-90",
    "trxCount": 5,
    "guiTime": 158,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.61,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FD32",
    "trxCount": 5,
    "guiTime": 90,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.62,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MASS",
    "trxCount": 5,
    "guiTime": 1851,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.63,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MI05",
    "trxCount": 5,
    "guiTime": 110,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.64,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "RSUSR200",
    "trxCount": 5,
    "guiTime": 2588,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.65,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "SM37",
    "trxCount": 5,
    "guiTime": 274,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.66,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "SU53",
    "trxCount": 5,
    "guiTime": 267,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.67,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "S_ALR_87011964",
    "trxCount": 5,
    "guiTime": 5009,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.68,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VCH2",
    "trxCount": 5,
    "guiTime": 806,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.69,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "XK01",
    "trxCount": 5,
    "guiTime": 3533,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.7,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ZFIAR",
    "trxCount": 5,
    "guiTime": 6753,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.71,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "F.80",
    "trxCount": 4,
    "guiTime": 27,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.72,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "KP26",
    "trxCount": 4,
    "guiTime": 514,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.73,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MCTC",
    "trxCount": 4,
    "guiTime": 0,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.74,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MD04",
    "trxCount": 4,
    "guiTime": 707,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.75,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MRBR",
    "trxCount": 4,
    "guiTime": 1897,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.76,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MSC3N",
    "trxCount": 4,
    "guiTime": 0,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.77,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "SOST",
    "trxCount": 4,
    "guiTime": 1362,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.78,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "S_PL0_86000030",
    "trxCount": 4,
    "guiTime": 22315,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.79,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ZLOAD",
    "trxCount": 4,
    "guiTime": 0,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.8,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "AW01N",
    "trxCount": 3,
    "guiTime": 3928,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.81,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "C223",
    "trxCount": 3,
    "guiTime": 3103,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.82,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "DB02",
    "trxCount": 3,
    "guiTime": 14436,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.83,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "F.01",
    "trxCount": 3,
    "guiTime": 1419,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.84,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FCH1",
    "trxCount": 3,
    "guiTime": 594,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.85,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FCH6",
    "trxCount": 3,
    "guiTime": 1653,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.86,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "KKS5",
    "trxCount": 3,
    "guiTime": 23118,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.87,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LM01",
    "trxCount": 3,
    "guiTime": 0,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.88,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LT15",
    "trxCount": 3,
    "guiTime": 0,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.89,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "SM04",
    "trxCount": 3,
    "guiTime": 8687,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.9,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "SM66",
    "trxCount": 3,
    "guiTime": 753,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.91,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "V/LD",
    "trxCount": 3,
    "guiTime": 11,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.92,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VF05",
    "trxCount": 3,
    "guiTime": 0,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.93,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "XD01",
    "trxCount": 3,
    "guiTime": 3234,
    "individualPercentage": 0.01,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "AFAB",
    "trxCount": 2,
    "guiTime": 1095,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "CO88",
    "trxCount": 2,
    "guiTime": 10138,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "F-53",
    "trxCount": 2,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FCH2",
    "trxCount": 2,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "KL01",
    "trxCount": 2,
    "guiTime": 456,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LS01N",
    "trxCount": 2,
    "guiTime": 239,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MCTA",
    "trxCount": 2,
    "guiTime": 582,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MD13",
    "trxCount": 2,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ME54",
    "trxCount": 2,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MI03",
    "trxCount": 2,
    "guiTime": 55,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ST02",
    "trxCount": 2,
    "guiTime": 1345,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "S_ALR_87011990",
    "trxCount": 2,
    "guiTime": 542,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VD01",
    "trxCount": 2,
    "guiTime": 558,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VKM4",
    "trxCount": 2,
    "guiTime": 748,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "AL08",
    "trxCount": 1,
    "guiTime": 70,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "CA23",
    "trxCount": 1,
    "guiTime": 94,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "CK11N",
    "trxCount": 1,
    "guiTime": 230,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "CK13N",
    "trxCount": 1,
    "guiTime": 674,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "CL30N",
    "trxCount": 1,
    "guiTime": 3,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "CR01",
    "trxCount": 1,
    "guiTime": 416,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FCH5",
    "trxCount": 1,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FCHI",
    "trxCount": 1,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FD03",
    "trxCount": 1,
    "guiTime": 471,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FD33",
    "trxCount": 1,
    "guiTime": 73,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FK05",
    "trxCount": 1,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FV60",
    "trxCount": 1,
    "guiTime": 195,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LT22",
    "trxCount": 1,
    "guiTime": 12,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "LT26",
    "trxCount": 1,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MB5S",
    "trxCount": 1,
    "guiTime": 44094,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ME55",
    "trxCount": 1,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MI22",
    "trxCount": 1,
    "guiTime": 9,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MMPV",
    "trxCount": 1,
    "guiTime": 32,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "OB52",
    "trxCount": 1,
    "guiTime": 3,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "SM58",
    "trxCount": 1,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "SQVI",
    "trxCount": 1,
    "guiTime": 513,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ST06",
    "trxCount": 1,
    "guiTime": 4607,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "S_ALR_87012050",
    "trxCount": 1,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "S_ALR_87012078",
    "trxCount": 1,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "S_ALR_87012082",
    "trxCount": 1,
    "guiTime": 56,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "S_ALR_87012103",
    "trxCount": 1,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VASK",
    "trxCount": 1,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VD03",
    "trxCount": 1,
    "guiTime": 33,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VF06",
    "trxCount": 1,
    "guiTime": 180,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VF11",
    "trxCount": 1,
    "guiTime": 19,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "VOE4",
    "trxCount": 1,
    "guiTime": 18,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "WE20",
    "trxCount": 1,
    "guiTime": 107,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "COEBR",
    "trxCount": 0,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FB00",
    "trxCount": 0,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FB02",
    "trxCount": 0,
    "guiTime": 40,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "FB05",
    "trxCount": 0,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "IP10",
    "trxCount": 0,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "KS03",
    "trxCount": 0,
    "guiTime": 7,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ME0M",
    "trxCount": 0,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ME56",
    "trxCount": 0,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "ME57",
    "trxCount": 0,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "MM04",
    "trxCount": 0,
    "guiTime": 60,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  },
  {
    "trxCode": "SM59",
    "trxCount": 0,
    "guiTime": 0,
    "individualPercentage": 0,
    "cumlativeValue": 99.94,
    "colorCode": "#FFC300"
  }
];
d3.json("json/scatter.json", function(err, res) {
       if (!err) {
            var chart = new Taucharts.Chart({
                guide: {
                    color: {
                    brewer: ['color-a', 'color-b', 'color-c']
                    }
                }, 
                data: res,
                type: 'scatterplot',
                x: 'guiTime',
                y: 'trxCount',
                color: 'colorCode',
                plugins: [Taucharts.api.plugins.get('tooltip')(), Taucharts.api.plugins.get('legend')(),Taucharts.api.plugins.get('quick-filter')()],
                size: 'count'
            });
        chart.renderTo('#scatter');
        }
    });

        
    </script>
</body>
</html>